html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    position: absolute;
    font-family: 'Actor', serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

section {
    display: block;
    padding: 50px 0;
    margin: 0;
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
}

section:nth-child(even) {
    background: #bdc3c7;
}

section h1 {
    margin: 0;
    padding: 0px;
    text-align: center;
}

#scroller {
    width: 100%;
    display: block;
    line-height: 400px;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main {
    background: #16a085;
    height: 100%;
    box-sizing: border-box;
}

#main div {
    text-align: center;
}

#meText {
    font-size: 2em;
}

#descriptionWrapper {
    font-size: 36px;
    line-height: 40px;
    color: #ecf0f1;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
}

#description {
    position: relative;
}

.visible {
    float:left;
    font-weight:600;
    overflow:hidden;
    height:42px;
}

.visible p {
    display: inline;
    margin: 0;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navLinks {
    position: absolute;
    display: block;
    list-style: none;
    padding: 0 10px;
    z-index: 99;
    right: 0;
}

.navLinks li {
    display: inline;
}

.navLink {
    padding: 0 0 0 10px;
}

.socialLinks {
    list-style: none;
    text-align: center;
    padding: 0;
}

.socialLinks li {
    display: inline-block;
    padding: 5%;
}

.github::before {
    content: "";
    height: 5em;
    width: 5em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/public/images/github_white.png');
    transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
}

.github:hover::before {
    background-image: url('/public/images/github.png');
}

.twitter::before {
    content: "";
    height: 5em;
    width: 5em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/public/images/twitter_white.png');
    transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
}

.twitter:hover::before {
    background-image: url('/public/images/twitter.png');
}

.linkedIn::before {
    content: "";
    height: 5em;
    width: 5em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/public/images/linkedin_white.png');
    transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
}

.linkedIn:hover::before {
    background-image: url('/public/images/linkedin.png');
}

.blogPosts {
    text-align: center;
}

.blogPost {
    display: inline-block;
    margin: 2%;
    max-width: 300px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogPost-link {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
}

.blogPost-link:hover {
    background: rgba(255, 255, 255, 0.9);
}

#skills {
    text-align: center;
}

.skillSection {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

.skillSection h3 {
    font-size: 1.1em;
    padding: 0;
    margin: 2em 0 0.2em 0;
    display: inline-block;
}

.skillList {
    list-style: none;
    margin: 0.5em 0 0 0;
    display: table;
    width: 100%;
}

.skill {
    width: 100%;
    display: table-row;
    box-sizing: border-box;
    text-align: right;
}

.skillEntry {
    display: table-cell;
    width: 50%;
    padding: 0 0.5% 0 0.5%;
    position: relative;
}

.rating-container {
    width: 100px;
    height: 75%;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rating {
    background: #16a085;
    height: 100%;
    transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
}

.advanced {
    width: 100%;
}

.medium {
    width: 66%;
}

.indicator {
    position: fixed;
    bottom: 20px;
    z-index: 99;
    width: 25px;
    height: 25px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.arrow {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    right: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
}

.up {
    transform: rotate(135deg);
    right: 10px;
    cursor: pointer;
}

.indicator.up:hover {
    border-width: 3px;
    transition: border-width 0.1s ease-in-out;
    -moz-transition: border-width 0.1s ease-in-out;
    -webkit-transition: border-width 0.1s ease-in-out;
}
